.btn-golden{
    background: linear-gradient(to bottom, rgb(201, 150, 74), rgba(167, 107, 75, 1));   
}
.btn-dark-azure{
    background: linear-gradient(to bottom, rgb(104, 161, 156), rgb(82, 120, 116));
}

.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.item-substrate-wrap{
    border-color: var(--color-blue-grey);
    display: flex;
}
.item-substrate-wrap:hover,
.item-substrate-wrap.active{
    border: 10px solid var(--bg-blue-grey);
}
a.order-link,
a.order-link:hover{
    padding: 0.5rem;
}
a.order-link:hover {
    background: #e0e8f3;
    color: darkblue;
}

.container-wrapper{
    max-width: 1350px;
}

@media screen and (min-width: 1201px) {
    .container-wrapper{
        margin: auto;
        width: 75%;
    }
}

@media screen and (min-width: 1281px) {
    .container-wrapper{
        max-width: 1350px;
    }    
}

.offset-mobile,
.wrapper-frame{
    padding-left: var(--offset-mobile);
    padding-right: var(--offset-mobile);
}

.order-section .wrap_btn .order-link {
    border-bottom: none;
    display: block;
    /* padding: 0.45rem 0; */
    /* font-size: 0.65rem; */
    text-shadow: 1px 1px 0px rgba(255,255,255,0.25), 2px 2px 4px rgba(0,0,0,0.25);
}

.order-section{
    background-color: rgba(0, 100, 0, 0.2);
    background-size: cover;
    position: relative;
}
.order-section::after{
    background: url(../images/professional-translate-golden.jpg) no-repeat;
    /* background: url(../images/professional-translate.jpg) right center no-repeat; */
    background-size: cover;
    content: " ";
    height: 100%;
    left: 0;
    position:absolute;
    top:0;
    width: 100%;
    z-index: -1;
}

.display-block{
    display: block;
}

.wrapper-frame{
    padding-bottom: var(--offset-mobile);
    padding-top: var(--offset-mobile);
}