.absolute {
  position: absolute; }

.blue-link {
  color: #2795c5; }

.btn-link {
  bottom: 20px;
  color: darkslateblue;
  font-size: 16px;
  margin: -4px -8px;
  padding: 4px 8px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%; }
  .btn-link:hover {
    background-color: rgba(120, 167, 65, 0.8);
    border-radius: 4px;
    color: white; }

.close-button {
  background-image: url(../images/close.png);
  background-repeat: no-repeat; }

.contact-list li i {
  font-size: 46px;
  color: white; }
  @media screen and (min-width: 1281px) {
    .contact-list li i {
      font-size: 22px; } }

.contact-list li +li i {
  margin-left: 0.65rem;
}

.hint {
  text-decoration: none;
  border-bottom: dotted 1px; }

.reviews-section {
  display: none;
  }
  @media screen and (min-width: 1281px) {
    .reviews-section {
      display: block; } }

.navigation-block {
  padding: 0; }
  @media screen and (max-width: 1280px) {
    .navigation-block {
      /* padding: 10px 0; */
      } }

.panel-lang {
  overflow: hidden;
  display: flex; }

.search-block {
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px; }

.btn-golden{
    background: linear-gradient(to bottom, rgb(201, 150, 74), rgba(167, 107, 75, 1));   
}
.btn-dark-azure{
    background: linear-gradient(to bottom, rgb(104, 161, 156), rgb(82, 120, 116));
}

.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.item-substrate-wrap{
    border-color: var(--color-blue-grey);
    display: flex;
}
.item-substrate-wrap:hover,
.item-substrate-wrap.active{
    border: 10px solid var(--bg-blue-grey);
}
a.order-link,
a.order-link:hover{
    padding: 0.5rem;
}
a.order-link:hover {
    background: #e0e8f3;
    color: darkblue;
}

.container-wrapper{
    /* max-width: 1350px; */
}

@media screen and (min-width: 1201px) {
    .container-wrapper{
        margin: auto;
        width: 75%;
    }
}

@media screen and (min-width: 1281px) {
    .container-wrapper{
        /* max-width: 1350px; */
    }    
}

.display-block{
    display: block;
}

.display-none{
    display: none;
}
.header-contacts-info .contact-list {
  display: flex;
  justify-content: space-around; }

.header-contacts-info .contact-list a, .header-contacts-info .contact-list
.address span {
  display: inline-block;
  transform: translateY(-4px) !important;
  -webkit-transform: translateY(-4px) !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.32); }

.contact-list li a, .contact-list
.address {
  font-size: initial;
  }

.offset-horizontal-padding{
    padding-left: var(--offset-box);
    padding-right: var(--offset-box);
}

.offset-vertical-margin-top {
    margin-top: var(--offset-box);
}
.offset-vertical-margin-increased{
  margin-bottom: var(--offset-box-increased);
  margin-top: var(--offset-box-increased);
}
.offset-vertical-margin-top-increased {
  margin-top: var(--offset-box-increased);
}

.offset-vertical-padding {
    padding-bottom: var(--offset-box);
    padding-top: var(--offset-box);
}

.offset-horizontal-padding-increased {
  padding-left: var(--offset-box-increased);
  padding-right: var(--offset-box-increased);
}

.offset-vertical-padding-increased {
  padding-bottom: var(--offset-box-increased);
  padding-top: var(--offset-box-increased);
}

.top-container .choosing-lang {
  display: flex;
  align-items: center;
  width: 10%; }

.top-container .header-contacts-info {
  width: 85%; }
  .top-container .header-contacts-info .contact-list li {
    padding: unset; }
.price-item a {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "PF DinText Pro";
  font-weight: 300;
  color: #2795c5; }
  .price-item a.know-more {
    }


.price-item {
  /* background-color: #b5d9d6; */
  /* background-color: rgba(193, 220, 255, 0.5) !important; */
  }
  .price-item__image {
    margin: auto -7px;
    width: auto; }
  .price-item-wrap {
    display: flex; }
  .price-item-description {
    /* margin-bottom: 50px; */
    }

.price-item-description .excerpt + a {
  bottom: 20px;
  position: absolute; }

.panel-lang .widget-block {
  overflow: hidden;
  display: flex; }