:root {
    --offset-right-close: 1.35rem;
}

#closebtn {
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    display: none;
    height: 20px;
    position: fixed;
    right: var(--offset-right-close);
    top: 0.8rem;
    width: 20px;
    z-index: 31;
}

#logo-header {
    margin-left: 0;
    display: flex;
    padding-right: 15px;
    white-space: nowrap;
    width: auto;
}

#menu-hamburger {
    padding-top: 0;
    display: inline-block;
    float: right;
    color: white;
}

#menu-hamburger i{
    color: white;
    font-size: 1.5rem;
}

#row-footer {
    /* outline: solid 1px red; */
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

#row-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#select-lang {
    float: right;
}

#top-main-text {
    flex-direction: column;
    position: relative;
}

/* #top-main-text-inner {
    display: flex;
    max-width: 1500px;
    max-width: 1350px;
    margin: auto;
} */