#closebtn {
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    display: none;
    height: 20px;
    width: 20px;
    z-index: 11;
}

#lang_sel_list {
    height: 13px;
}

#logo-header {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    width: 25%;
}

#logo-link,
#logo-link-bottom {
    display: inline-block;
    font-size: 1.2rem;
    padding-left: 48px;
    position: relative;
    text-decoration: none;
}

#logo-link>span:nth-child(1),
#logo-link-bottom>span:nth-child(1) {
    font-weight: normal;
    left: 10px;
    transform: rotate(21deg);
}

#logo-link>span:nth-child(2),
#logo-link-bottom>span:nth-child(2) {
    height: 22px;
    left: 14px;
    top: 9.5px;
    width: 22px;
    z-index: 1;
    transform: rotate(42deg);
}

#logo-link>span:nth-child(1) {
    background-color: #d1da29;
    background-color: rgb(104, 161, 156);
    height: 29px;
    top: 5.5px;
    width: 29px;
}

#logo-link>span:nth-child(2) {
    background-color: #969a25;
    background-color: #fff;
}

#logo-link .logo-container {
    color: #d1da29;
    color: rgb(181, 217, 214);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#logo-link .logo-container span:nth-child(1) {
    color: white;
}

#logo-link .logo-container span:nth-child(3) {
    color: #ccc;
}

@media screen and (min-width: 769px) {
    #logo-link .logo-container-mobile {
        display: none;
    }
}

#logo-link-bottom {
    font-size: 1.1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#logo-link-bottom span:nth-child(1) {
    top: 3px;
    background-color: var(--color-logo-link);
    height: 29px;
    width: 29px;
}

#logo-link-bottom span:nth-child(2) {
    background: white;
    top: 6.5px;
    height: 22px;
    width: 22px;
}

#logo-link-bottom span:nth-child(3),
#logo-link-bottom span:nth-child(5) {
    color: var(--color-logo-link);
    z-index: 1 !important;
}

#logo-link-bottom span:nth-child(4) {
    color: #ff6b85;
}

#main-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#main-container-navigation-block-inner {
    display: flex;
    justify-content: stretch;
    margin: 7.5px auto;
    width: 100%;
}

#make-order-online{
    background: url('../images/professional-translate-golden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px 60px;
}

#menu-hamburger {
    padding-top: 0;
}

@media screen and (max-width: 1200px) {
    #menu-hamburger {
        display: inline-block;
        float: right;
    }
    #menu-hamburger i {
        color: white;
        font-size: 2rem;
    }
}

#mySidenav {
    right: -100%;
    transition: all ease 0.5s;
}

#mySidenav .start {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

#mySidenav .active {
    transition: all ease 0.5s;
    right: 0;
}

@media screen and (max-width: 1200px) {
    #mySidenav {
        background: linear-gradient(to right, #513794 0%, #513794 0%, #5e3c95 34%, #673f95 66%, #704296 100%);
        display: inline-block;
        height: 100%;
        min-width: 320px;
        overflow-x: hidden;
        top: 0;
        position: fixed;
        padding: 25px;
        width: 50%;
        z-index: 1001;
    }
}

@media screen and (min-width: 1201px) {
    #mySidenav {
        width: 100%;
    }
}

#nav-main-menu {
    color: white;
    z-index: 10;
}

#nav-main-menu li a {
    color: white;
    font-size: 0.6rem;
    font-weight: normal;
}

@media screen and (min-width: 1201px) {
    #nav-main-menu li {
        color: #666;
    }
}

@media screen and (max-width: 1200px) {
    #nav-main-menu .main-navigation-menu li {
        display: inline-block;
        text-align: left;
        padding: 5px 0;
        width: 100%;
    }
    #nav-main-menu .main-navigation-menu .menu-item-has-children:hover .sub-menu {
        display: block;
        padding-left: 20px;
    }
    #nav-main-menu ul>li a {
        width: 100%;
    }
    #nav-main-menu ul>li a:hover {
        background-color: #78a741;
    }
}

#navigation-block {
    background-color: rgb(13, 29, 50);
    justify-content: space-between;
    height: auto;
}

@media screen and (min-width: 1201px) {
    #navigation-block {
        display: flex;
    }
}

#navigation-contacts {
    position: absolute;
    right: 43px;
    top: 145px;
    white-space: nowrap;
    z-index: 20;
}

@media screen and (max-width: 580px) {
    #navigation-contacts {
        right: 0;
    }
}

@media screen and (max-width: 1024px) {
    #navigation-contacts {
        box-shadow: 0 0 28px #ddd;
        background-color: white;
        padding: 10px 0;
    }
}

@media screen and (min-width: 1025px) {
    #navigation-contacts {
        display: flex;
        position: static;
        width: 80%;
    }
}

@media screen and (min-width: 1201px) {
    #navigation-contacts {
        margin: auto;
        text-align: center;
        width: 20%;
    }
}

#navigation-contacts ul {
    margin: auto;
}

#navigation-contacts ul li {
    display: inline-block;
}

#navigation-contacts ul li i {
    color: white;
    font-size: 0.92rem;
}

#navigation-contacts ul li:first-child i {
    font-size: 1.1rem;
}

@media screen and (min-width: 1025px) {
    #navigation-contacts ul {
        height: 24px;
    }
}

#navigation-top {
    margin: auto;
    width: 55%;
}

@media screen and (min-width: 1201px) {
    #navigation-top {
        display: flex;
    }
}

#our-services {
    background-color: white;
    border-bottom: solid 2px #dbddd2;
    display: flex;
    padding-bottom: 50px;
    padding-top: 40px;
    position: relative;
}

#our-services::after {
    box-shadow: 0 -12px 82px rgba(0, 0, 0, 1);
    content: " ";
    height: 50%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#our-services .services-container {
    display: inline-block;
    padding-top: 0.917rem;
}

#our-services-wrap .service-item{
    width: 50%;
}

@media screen and (min-width: 961px){
    #our-services-wrap .service-item{
        width: 33.33%;
    }
}

@media screen and (min-width: 1025px){
    #our-services-wrap .service-item{
        width: 18%;
    }
}

#our-services-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#top-main-text .container-wrapper>section:nth-child(1) {
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

#top-main-text .container-wrapper>section:nth-child(2) {
    display: flex;
}

@media screen and (max-width: 960px){
    #presentation-side-top-left,
    #presentation-side-top-right,
    #presentation-side-bottom-left,
    #presentation-side-bottom-right{
        width: 100%;
    }
    #presentation-stages{
        padding-top: 2rem !important;
    }
    #presentation-side-top-right{
        height: 67vw;
    }
    #presentation-side-bottom-left{
        order: 2;
    }
}


@media screen and (min-width: 1025px){
    #top-main-text .container-wrapper>section:nth-child(1) {
        width: 45%;
    }
    #top-main-text .container-wrapper>section:nth-child(2) {
        width: 55%;
    }
}

#presentation-stages {
    /* background-color: rgba(0, 60, 100,0.7); */
    background-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(13, 29, 50, 1);
    display: flex;
    height: 20%;
    width: 100%;
}

@media screen and (min-width: 961px){
    #presentation-stages {
        padding: 0 2rem;
    }
}

#presentation-stages>div {
    background: rgb(255,255,255);
    display: inline-block;
    height: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    opacity: 0.33;
    width: 1rem;
}

#presentation-stages>div.active {
    opacity: 1;
}

@media screen and (min-width: 1025px){
    #presentation-side-bottom,
    #presentation-side-top{
        border: solid 10px rgba(255,255,255,0.76);
        border-radius: 4px;
    }
}

#presentation-side-top,
#presentation-side-bottom{
    flex-wrap: wrap;
}

#presentation-side-top{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#presentation-side-bottom{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#presentation-side-top section:nth-child(1) {
    background-color: rgba(13, 29, 50, 0.7);
    padding-top: 2rem;
}

#presentation-side-bottom section:nth-child(1) {
    background-color: rgba(13, 29, 50, 0.7);
    height: 100%;
    padding-top: 0;
}

#row-footer {
    overflow: hidden;
}

#row-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    #row-prices>div {
        background-color: #cfdcee;
    }
    #row-prices>div .price-item {
        margin: auto -15px;
    }
    #row-prices>div .price-item-wrap {
        align-self: start;
        height: 100%;
    }
}

@media screen and (min-width: 1025px) {
    #row-prices>div {
        width: 32%;
    }
}

@media screen and (min-width: 1025px) {
    #row-review {
        overflow: hidden;
    }
}

@media screen and (max-width: 1200px) {
    #search-block>span {
        margin-right: -4px;
        order: 2;
    }
    #search-block>span img {
        height: 20px;
        width: 30px;
        border: solid 1px rgba(255, 255, 255, 0.5);
    }
    #search-block>form {
        margin-left: 0;
        order: 1;
        width: 80%;
    }
    #search-block>form input {
        display: inline-block;
        opacity: 1;
        min-width: auto;
        position: static;
        width: calc(100% - 20px);
    }
    #search-block>form button {
        float: right;
        vertical-align: unset;
        margin-right: -8px;
        margin-top: 11px;
    }
    #search-block a {
        margin-top: 5px;
    }
    #nav-main-menu #search-block {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding-top: 24px;
        border-top: solid 1px white;
    }
}

#searchform {
    display: inline-block;
    margin-left: 15px;
}

#searchform input {
    background-color: white;
    min-width: 100%;
}

#presentation-side-bottom-left {
    display: flex;
    justify-content: space-between;
}

#presentation-side-bottom-left a {
    border-bottom: none;
    letter-spacing: 1.25px;
}

#presentation-side-bottom-left a.order-link {
    transition: none;
    width: 45%;
}

#presentation-side-bottom-left a.order-link:hover {
    /* background: #e0e8f3; */
    /*transition: none;*/
    /* color: darkblue; */
}

#select-lang {
    float: right;
}

#top-main-text {
    position: relative;
}
@media screen and (min-width: 961px){
    #top-main-text {
        padding-bottom: 3.5rem;
        padding-top: 2.65rem;    
    }
}

#top-main-text-inner {
    display: flex;
    max-width: 1500px;
    max-width: 1350px;
    margin: auto;
}

#main-slogan {
    margin-bottom: 2.5rem;
    margin-left: 0;
    max-width: 600px;
    padding: 1.28rem 2rem;
    position: relative;
}

#presentation-side-top-left-top h4,
#presentation-side-top-left-top li,
#presentation-side-top-left-top p {
    font-size: 20px;
    color: white;
    text-align: center;
}

#presentation-side-top-left-top h4,
#presentation-side-top-left-top p {
    margin: auto;
}

#presentation-side-top-left-top h4 {
    color: white;
    font-size: 0.95rem;
    /* line-height: 1.2; */
    /* margin-top: 0.3333rem; */
    /* padding: 0 20px; */
}

#presentation-side-top-left-top span {
    color: rgb(181, 217, 214);
    display: block;
}

@media screen and (min-width: 1281px) {
    #presentation-side-top-left-top h4 {
        font-size: 1.15rem;
        font-size: 1.35rem;
    }
}

#ul-services {
    position: relative;
}

#ul-services li:nth-child(1) {
    background-image: url(../images/icon-museum-1.png);
}

#ul-services li:nth-child(2) {
    background-image: url(../images/icons-service-provider-1.png);
}

#ul-services li:nth-child(3) {
    background-image: url(../images/icon-business-1.png);
}

#ul-services li:nth-child(4) {
    background-image: url(../images/icon-crowd-1.png);
}

#ul-services .flags {
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    left: 107%;
    margin: 0;
    top: 0;
    position: absolute;
    padding: 10px 15px;
}

#ul-services .flags span {
    background-position: center;
    border: solid 1px rgba(0, 0, 0, 0.25);
    display: block;
    font-size: 0;
    height: 0;
    margin: auto;
    opacity: 0.35;
    padding-bottom: 64%;
    transition: opacity ease 0.3s;
    width: 1.7rem;
}

#ul-services .flags span:nth-child(1) {
    background-image: url("../images/flags/nl-1.png");
}

#ul-services .flags span:nth-child(2) {
    background-image: url("../images/flags/uk.png");
}

#ul-services .flags span:nth-child(3) {
    background-image: url("../images/flags/ru-1.png");
}

#ul-services .flags span:nth-child(4) {
    background-image: url("../images/flags/ukr.png");
}

#ul-services .flags span:hover {
    opacity: 1;
}

#ul-services li {
    background-color: rgb(224, 232, 243);
    background-repeat: no-repeat;
    background-position: 0.82rem;
    display: flex;
    color: inherit;
    min-height: 2.085rem;
    text-align: left;
    padding-left: 3.4rem;
}

#ul-services li:nth-child(5) {
    border-bottom: none;
}

#ul-services li+li {
    margin-top: 2px;
}

#ul-services li:hover:not(.flags) {
    background-color: #676b01;
    background-color: rgb(181, 217, 214);
}

#ul-services li:hover:not(.flags) a {
    color: white;
    color: rgb(13, 29, 50);
    text-shadow: none;
}

#ul-services li a {
    color: #3f4200;
    font-size: 0.7rem;
    margin: auto 0;
    text-transform: uppercase;
    text-shadow: 1.5px 1.25px 0 rgba(255, 255, 255, 0.65);
}

#ul-services li a:hover {
    text-decoration: none;
}

@media screen and (min-width: 1281px) {
    #ul-services li a {
        font-size: 0.9rem;
        /* line-height: 3; */
    }
}

#ul-services li span {
    color: inherit;
}

@media screen and (min-width: 1281px) {
    #ul-services {}
}

#ul-services {
    display: flex;
    flex-wrap: wrap;
}

#ul-services li {
    background-position: 0.85rem;
    display: flex;
    min-height: 5.66rem;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 0;
    padding: 1.2rem;
    padding-left: 3.5rem;
    width: 100%;
}

@media screen and (min-width: 620px){
    #ul-services li {
        width: calc(50% - 1px) !important;
    }
}

#ul-services li:nth-child(5) {
    display: none;
    border-bottom: none;
}

#ul-services li+li {
    margin-top: 0;
}

#ul-services li a {
    color: #3f4200;
    font-size: 0.7rem;
    line-height: 1.423;
    margin: auto 0;
    text-transform: uppercase;
    text-shadow: 1.5px 1.25px 0 rgba(255, 255, 255, 0.65);
}

#ul-services li:hover a {
    color: white;
    text-shadow: none;
}

#ul-services li.flags {
    flex-wrap: wrap;
    width: 25% !important;
}

#ul-services li.flags span {
    background-size: cover;
    border: 0;
    height: 19%;
    padding-bottom: 0;
    width: 51%;
}

@media screen and (min-width: 1025px) {
    #main-slogan {
        margin: auto 50% 1rem auto;
        /* width: 50%; */
    }
}

@media screen and (min-width: 1281px) {
    #main-slogan {
        background-color: rgba(255, 255, 255, 0.85);
        background-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(13, 29, 50, 0.7);
        border-bottom: none;
        border-top: none;
        margin: 3rem 0;
    }
    #presentation-side-top-left-top h4,
    #presentation-side-top-left-top li,
    #presentation-side-top-left-top p {
        font-size: 25px;
        /* line-height: 1.2; */
    }
}

@media screen and (max-width: 1024px) {
    #main-slogan {
        border-bottom: #513794 2px solid;
        border-top: #513794 2px solid;
        max-width: 360px;
    }
}

#main-slogan [class|=lang] {
    font-size: 20px;
}

#main-slogan .lang-dutch {
    color: #6665fe;
}

#main-slogan .lang-russian {
    color: #f964e5;
}

#main-slogan .lang-english {
    color: #fb5a5a;
}

#main-slogan .lang-ukrainian {
    color: #ff9b22;
}

#ul-services {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1281px) {
    #ul-services {}
}

#ul-services {
    margin-top: 1.5rem;
    position: relative;
}