:root{
    --offset-right-close:1.35rem;
}
#closebtn {
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    display: none;
    height: 20px;
    position: fixed;
    right: var(--offset-right-close);
    top: 0.8rem;
    width: 20px;
    z-index: 21;
}

#lang_sel_list {
    height: 13px;
}

#logo-header {
    margin-left: 0.35rem;
    display: flex;
    padding-right: 15px;
    white-space: nowrap;
    width: 25%;
}

#logo-link,
#logo-link-bottom {
    display: inline-block;
    /* font-size: 1.2rem; */
    font-size: 1rem;
    margin: auto;
    padding-left: 48px;
    position: relative;
    text-decoration: none;
}

#logo-link>span:nth-child(1),
#logo-link-bottom>span:nth-child(1) {
    font-weight: normal;
    left: 10px;
    transform: rotate(21deg);
}

#logo-link>span:nth-child(2),
#logo-link-bottom>span:nth-child(2) {
    height: 22px;
    height: 20px;
    left: 14px;
    left: 13px;
    top: 9.5px;
    width: 22px;
    width: 20px;
    z-index: 1;
    transform: rotate(42deg);
}

#logo-link>span:nth-child(1) {
    background-color: #d1da29;
    background-color: rgb(104, 161, 156);
    height: 29px;
    height: 26px;
    top: 5.5px;
    width: 29px;
    width: 26px;
    /* transform: scale(0.9); */
}

#logo-link>span:nth-child(2) {
    background-color: #969a25;
    background-color: #fff;
}

#logo-link .logo-container {
    color: #d1da29;
    color: rgb(181, 217, 214);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#logo-link .logo-container span:nth-child(1) {
    color: white;
}

#logo-link .logo-container span:nth-child(3) {
    color: #ccc;
}

#logo-link-bottom {
    font-size: 1.1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#logo-link-bottom span:nth-child(1) {
    top: 3px;
    background-color: var(--color-logo-link);
    height: 29px;
    width: 29px;
}

#logo-link-bottom span:nth-child(2) {
    background: white;
    top: 6.5px;
    height: 22px;
    width: 22px;
}

#logo-link-bottom span:nth-child(3),
#logo-link-bottom span:nth-child(5) {
    color: var(--color-logo-link);
    z-index: 1 !important;
}

#logo-link-bottom span:nth-child(4) {
    color: #ff6b85;
}

#menu-hamburger {
    padding-top: 0;
}

#navigation-top {
    margin: 0;
    width: 75%;
}


/* #presentation-stages {
    display: flex;
    justify-content: flex-start;
    height: 20%;
    width: 100%;
} */



/* #presentation-stages>div {
    margin: auto;
    margin-bottom: 2rem;
    opacity: 0.33;  
    border: solid 12px transparent;
    border-left: white 15px solid;
    border-right: none;
    width: 0;
    height: 0;
    background: transparent;
} */



/* #presentation-stages>div.active{
    background: rgb(255,255,255);
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

#presentation-stages>div:last-child{
    margin-right:0;
}

#presentation-stages>div.active {
    opacity: 1;
} */

#presentation-side-top,
#presentation-side-bottom{
    flex-wrap: wrap;
    background: rgb(13, 29, 50, 0.85);
    padding-left: 2rem;
}

#presentation-side-top{
    /* background: linear-gradient(to top, rgba(13, 29, 50, 0.85) 0%, rgba(13, 29, 50, 0.6) 10%); */
    /* background: rgb(13, 29, 50, 0.85); */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}

#presentation-side-bottom{
    /* background-image: linear-gradient(to top, #0d1d32, transparent); */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#presentation-side-top section:nth-child(1) {
    /* background-color: rgba(13, 29, 50, 0.7); */
    padding-top: 2rem;
}

#presentation-side-bottom section:nth-child(1) {
    /* background-color: rgba(13, 29, 50, 0.7); */
    height: 100%;
    padding-top: 0;
}

#row-footer {
    /* outline: solid 1px red; */
    display: flex;
    overflow: hidden;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
}

#row-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#searchform {
    display: inline-block;
    margin-left: 15px;
}

#searchform input {
    background-color: white;
    min-width: 100%;
}

#presentation-side-bottom-left {
    display: flex;
    justify-content: space-between;
}

#presentation-side-bottom-left a {
    border-bottom: none;
    letter-spacing: 1.25px;
}

#presentation-side-bottom-left a.order-link {
    transition: none;
    width: 45%;
}

#select-lang {
    float: right;
}

#top-main-text {
    /* display: flex; */
    flex-direction: column;
    position: relative;
}

#top-main-text-inner {
    display: flex;
    max-width: 1500px;
    max-width: 1350px;
    margin: auto;
}

#top-main-text .container-wrapper>section:nth-child(1) {
    padding-bottom: 2rem;
}

#top-main-text .container-wrapper>section:nth-child(2) {
    display: flex;
}

#main-slogan {
    margin-bottom: 2.5rem;
    margin-left: 0;
    max-width: 600px;
    padding: 1.28rem 2rem;
    position: relative;
}

#presentation-side-top-left-top h4,
#presentation-side-top-left-top li,
#presentation-side-top-left-top p {
    font-size: 20px;
    color: white;
    text-align: center;
}

#presentation-side-top-left-top h4,
#presentation-side-top-left-top p {
    margin: auto;
}

#presentation-side-top-left-top h4 {
    color: white;
    font-size: 0.95rem;
}


#presentation-side-top-left-top span {
    color: rgb(181, 217, 214);
    display: block;
}

#ul-services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    position: relative;
}


#ul-services li:nth-child(1) {
    background-image: url(../images/icon-museum-1.png);
}

#ul-services li:nth-child(2) {
    background-image: url(../images/icons-service-provider-1.png);
}

#ul-services li:nth-child(3) {
    background-image: url(../images/icon-business-1.png);
}

#ul-services li:nth-child(4) {
    background-image: url(../images/icon-crowd-1.png);
}

#ul-services .flags {
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    left: 107%;
    margin: 0;
    top: 0;
    position: absolute;
    padding: 10px 15px;
}

#ul-services .flags span {
    background-position: center;
    border: solid 1px rgba(0, 0, 0, 0.25);
    display: block;
    font-size: 0;
    height: 0;
    margin: auto;
    opacity: 0.35;
    padding-bottom: 64%;
    transition: opacity ease 0.3s;
    width: 1.7rem;
}

#ul-services .flags span:nth-child(1) {
    background-image: url("../images/flags/nl-1.png");
}

#ul-services .flags span:nth-child(2) {
    background-image: url("../images/flags/uk.png");
}

#ul-services .flags span:nth-child(3) {
    background-image: url("../images/flags/ru-1.png");
}

#ul-services .flags span:nth-child(4) {
    background-image: url("../images/flags/ukr.png");
}

#ul-services .flags span:hover {
    opacity: 1;
}

#ul-services li:nth-child(5) {
    border-bottom: none;
}

#ul-services li+li {
    margin-top: 2px;
}

#ul-services li:hover:not(.flags) {
    background-color: rgb(181, 217, 214);
}

#ul-services li:hover:not(.flags) a {
    color: white;
    color: var(--main-blue-dark);
    text-shadow: none;
}

#ul-services li a {
    color: #3f4200;
    font-size: 0.7rem;
    margin: auto 0;
    text-transform: uppercase;
    text-shadow: 1.5px 1.25px 0 rgba(255, 255, 255, 0.65);
}

#ul-services li a:hover {
    text-decoration: none;
}

#ul-services li span {
    color: inherit;
}

#ul-services li {
    background-position: 0.85rem;
    background-color: rgb(224, 232, 243);
    background-repeat: no-repeat;
    color: inherit;
    text-align: left;
    display: flex;
    min-height: 5.66rem;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 0;
    padding: 1.2rem;
    padding-left: 3.5rem;
    /* width: 100%; */
}

#ul-services li:nth-child(5) {
    display: none;
    border-bottom: none;
}

#ul-services li+li {
    margin-top: 0;
}

#ul-services li a {
    color: #3f4200;
    font-size: 0.7rem;
    line-height: 1.423;
    margin: auto 0;
    text-transform: uppercase;
    text-shadow: 1.5px 1.25px 0 rgba(255, 255, 255, 0.65);
}

#ul-services li:hover a {
    color: white;
    text-shadow: none;
}

#ul-services li.flags {
    flex-wrap: wrap;
    width: 25% !important;
}

#ul-services li.flags span {
    background-size: cover;
    border: 0;
    height: 19%;
    padding-bottom: 0;
    width: 51%;
}

#main-slogan [class|=lang] {
    font-size: 20px;
}

#main-slogan .lang-dutch {
    color: #6665fe;
}

#main-slogan .lang-russian {
    color: #f964e5;
}

#main-slogan .lang-english {
    color: #fb5a5a;
}

#main-slogan .lang-ukrainian {
    color: #ff9b22;
}