.middle-heading:after, .order-heading:first-child:after, nav>.main-navigation-menu>li>a:after{
    background: none;
    content: none;
}

.menu-item-has-children .sub-menu li{
    transition: none;
    width: auto;
}

.item-substrate-wrap{
    border-radius: 0;
}