.menu-item-has-children .sub-menu {
    /* background-color: rgba(13, 29, 50, 0.7); */
    display: none;
    width: auto;
}
.menu-item-has-children .sub-menu li:hover{    
    background-color: #0d1d32;
}
