.container{
    width:auto;
}
.contact-list li .footer-mail-link{
    color: var(--color-logo-link);
    margin-bottom: auto;
}
footer{
    padding:0;
}

.footer-nav, .footer-services, .footer-contacts {
  
border-right: none;
}

.item-substrate-wrap{
    border-radius: 0;
}
.middle-heading:after, .order-heading:first-child:after, nav>.main-navigation-menu>li>a:after{
    background: none;
    content: none;
}

.menu-item-has-children .sub-menu li{
    transition: none;
    width: auto;
}
.order-section{
    background: none;
}

.order-link{
    margin: 0;
}
.order-section{
    padding: 0;
}
.price-item{
  margin-bottom: 0;
  padding-bottom:0;
  padding: 0;
}
.price-item-wrap .hov-el{
    background: rgba(165, 119, 70, 0.5);
}
.price-item-wrap:nth-child(2n) .hov-el{
    background: rgb(100, 154, 149, 0.8);
}
.price-item-wrap:nth-child(3n) .hov-el{
    background: rgba(80, 93, 109,0.75);
}

#prices-section{
  padding: 0;
}

#row-prices >div{
  padding:0;
}

#ascrail2001 {
  background-color: #eee;
  width: 17px !important; }
  #ascrail2001 > div {
    background-color: #4d5b6b !important;
    border: none !important;
    border-radius: 0 !important;
    width: 17px !important;
    }

.order-link, .submit-button {
    background-color: transparent;
    border-bottom: none;
    font-size: 0.65rem;
    font-weight: normal;
}

@media screen and (max-width: 767px) {
  .footer-contacts {
      text-align: center;
      margin: auto;
  }
}

.socials-block__list{
  margin: initial;
}

.order-link:hover,.order-link:focus,.order-link:active {
  border: none;
}

@media screen and (min-width: 992px){
.menu-item-has-children .sub-menu li a {
    transition: none;
  }
}
.search-block form input{
  background: white;
  opacity: 1;
}
@media screen and (max-width: 991px){
    .search-block form input {
        width: 200px;
    }
}
#search-box{
    padding-top: 0;
}
