.absolute {
  position: absolute; }

.blue-link {
  color: #2795c5; }

.btn-link {
  bottom: 20px;
  color: darkslateblue;
  font-size: 16px;
  margin: -4px -8px;
  padding: 4px 8px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%; }
  .btn-link:hover {
    background-color: rgba(120, 167, 65, 0.8);
    border-radius: 4px;
    color: white; }

.close-button {
  background-image: url(../images/close.png);
  background-repeat: no-repeat; }

.hint {
  text-decoration: none;
  border-bottom: dotted 1px; }

.reviews-section {
  display: none; }
  @media screen and (min-width: 1025px) {
    .reviews-section {
      display: block; } }

.main-navigation {
  padding-top: 0;
  display: flex;
  padding-top: 0; }

.navigation-block {
  padding: 0; }
  @media screen and (max-width: 1200px) {
    .navigation-block {
      padding: 10px 15px; } }

.panel-lang {
  overflow: hidden;
  display: flex; }

.search-block {
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px; }

@media screen and (max-width: 1024px) {
  .prices-section {
    padding-bottom: 0; } }

@media screen and (max-width: 1200px) {
  .dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 12; } }

.price-item a {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "PF DinText Pro";
  font-weight: 300;
  color: #2795c5; }
  .price-item a.know-more {
    bottom: 30px;
    margin-left: 22px;
    position: absolute; }

body > header {
  background: rgba(0, 0, 50, 0.65); }

.contact-list li i {
  font-size: 46px;
  color: white;
  margin: auto 10px; }
  @media screen and (min-width: 1025px) {
    .contact-list li i {
      font-size: 22px; } }

nav.main-menu {
  margin: auto; }

#navigation-contacts .contact-list li {
  padding-right: 0; }
  @media screen and (max-width: 1024px) {
    #navigation-contacts .contact-list li {
      display: block;
      margin-bottom: 20px;
      text-align: center; } }

nav .main-navigation-menu li + li {
  padding-right: 38px; }

.header-contacts-info .contact-list {
  display: flex;
  justify-content: space-around; }

.header-contacts-info .contact-list a, .header-contacts-info .contact-list
.address span {
  display: inline-block;
  transform: translateY(-4px) !important;
  -webkit-transform: translateY(-4px) !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.32); }

.contact-list li a, .contact-list
.address {
  font-size: initial; }

nav .main-navigation-menu li {
  padding-left: 0; }
  nav .main-navigation-menu li:last-child {
    padding-right: 0; }
  @media screen and (max-width: 1200px) {
    nav .main-navigation-menu li ul li {
      padding-left: 20px; } }

@media screen and (max-width: 1200px) {
  .menu-item-has-children .sub-menu {
    background: transparent;
    position: relative;
    padding-left: 20px;
    display: block;
    width: 100%; } }

header > .top-container {
  display: flex;
  justify-content: space-between; }

.top-container .choosing-lang {
  display: flex;
  align-items: center;
  width: 10%; }

.top-container .header-contacts-info {
  width: 85%; }
  .top-container .header-contacts-info .contacs-list li {
    padding: unset; }

.price-item {
  background-color: rgba(193, 220, 255, 0.5); }
  .price-item__image {
    margin: auto -7px;
    width: auto; }
  .price-item-wrap {
    display: flex; }
  .price-item-description {
    margin-bottom: 50px; }

.price-item-description .excerpt + a {
  bottom: 20px;
  position: absolute; }

.panel-lang .widget-block {
  overflow: hidden;
  display: flex; }

body * {
  box-sizing: border-box;
  /* display: flex; */
  }

footer {
  background: none;
  position: relative;
  padding: 32px;
  }

