:root{
    --main-blue-dark: rgb(13, 29, 50);
    --main-blue-dark-rgba-05: rgba(13, 29, 50, 0.5);
    --bg-blue-grey: rgb(79, 92, 108);
    --color-blue-grey: #a7b8cd; /*rgb(167, 184, 205)*/
    --color-logo-link: #bebeff;
    --mediaMin961: 961px;
    --mediaMin1025: 1025px;
    --offset-box: 0.8333rem;
    --offset-box-increased: 1.35rem;
}

@media screen and (min-width:768px){
    :root{
        --offset-box: 2rem;
    }
}