#main-slogan ul{
    display: flex;
    flex-wrap: wrap;
}
#main-slogan ul li{
    background-position: 0.85rem;
    display: flex;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top:0;
    padding: 0.832rem 0.42rem;
    padding: 1.2rem;
    padding-left: 3.5rem;
    width: calc(50% - 1px) !important;
}
#main-slogan ul li:nth-child(5){
    display: none;
    border-bottom: none;
}
#main-slogan ul li + li{
    margin-top:0;
}
#main-slogan ul li a{
    color: #3f4200;
    font-size: 0.7rem;
    line-height: 1.423;
    margin: auto 0;
    text-transform: uppercase;
    text-shadow: 1.5px 1.25px 0 rgba(255, 255, 255, 0.65);
}
#main-slogan ul li:hover a{
    color:white;
    text-shadow: none;
}
#main-slogan ul li.flags{
    flex-wrap: wrap;
    width: 25% !important;
}
#main-slogan ul li.flags span{
    background-size: cover;
    border: 0;
    height: 19%;
    padding-bottom: 0;
    width: 51%;
}
@media screen and (min-width: 1281px){

    /* #main-slogan{
        margin: 1rem 50% 2rem auto;
        max-width: 38%;
        width: 40%;
    } */

    /* #main-slogan ul{
        margin: 2rem 20px 1.5rem;
    } */

    /* #top-main #main-slogan h4{
        font-size: 1.15rem;
    } */
}

/*  */
#presentation {
    /* border: solid 1px olive; */
    /* height: 0; */
    margin: 4rem auto 4rem 0;
    margin: 3rem auto 5rem 1rem;
    margin-left: 0;
    /* padding-bottom: 31%; */
    /* width: 38%; */
    display: flex;
    /* margin-top: 3rem; */
    margin-bottom: 3rem;
    flex-direction: column;
    position: relative;
    width: 45%;
}
#presentation-text{
    /* opacity: 0; */
    height: 80%;
    position: absolute;
    pointer-events: none;
    width: 100%;
}
#presentation-text.started{
  background-color: rgba(0,0,0,0.75);
}
#presentation-text > div{
    color: white;
    font-size: 1.35rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
}
#presentation-image,
#presentation-text{
    display: flex;
}
#presentation-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    margin: 31px auto;
    margin: 0;
}
#presentation-image::before{
    background: rgba(0,0,0,0.5);
    color: #ddd;
    content: ' ';
    text-align: center;
}

#presentation-image.stopped::before{
    background-color: black;
    border-radius: 50%;
    border: solid;
    content: '▐ ▌';
    font-size: 2rem;
    line-height: 2.4;
    margin: auto;
    width: 5rem;
    height: 5rem;
}

#presentation > section{
  /* background-color: rgba(0, 60, 100,0.7); */
  background-color: rgba(0,0,0,0.7);
  background-color: rgba(13, 29, 50, 1);
  display: flex;
  height: 20%;
  padding: 0 2rem;
  width: 100%;
}

#presentation > section > div{
  border: solid 2px white;
  display: inline-block;
  height: 1rem;
  margin :auto;
  width: 1rem;
}

#presentation > section > div.active{
    background-color: #78a741;
    background-color: rgb(104, 161, 156);
}

#presentation-text.initial{
    background-color: white;
}

#presentation-text.initial > div{
    color:black;
}

#top-main{
  background: transparent;
  position: relative;
}
#top-main-text::before{
  content: ' ';
  display: block;
  height: 0;
  padding-bottom: 41%;
}
#top-main-text::after {
  content: ' ';
  background-image: url(../images/amsterdam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.95; */
  opacity: 0.75;
  opacity: 0.5;
  /* opacity: 0.35; */
  /* opacity: 0.2; */
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.transparent{
    opacity:0;
    transition: all 1.5s ease;
}
.non-transparent{
    opacity:1;
    transition: all 1.5s ease;
}
#presentation-text.non-transparent{
    background-color: rgba(0,0,0,0.75);
}