@media screen and (min-width: 1281px){
    background-color: rgba(13, 29, 50, 0.7);
    border-bottom: none;
    border-top: none;
    margin: 3rem 0;
}
/*  */
#presentation {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
#presentation-text{
    /* opacity: 0; */
    height: 100%;
    position: absolute;
    pointer-events: none;
    width: 100%;
}
#presentation-text.started{
  background-color: rgba(0,0,0,0.75);
}
#presentation-text > div{
    color: white;
    font-size: var(--offset-box-increased);
    margin: auto;
    padding: 1rem;
    text-align: center;
}
#presentation-image,
#presentation-text{
    display: flex;
}
#presentation-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#presentation-image::before{
    background: rgba(0,0,0,0.5);
    color: #ddd;
    content: ' ';
    text-align: center;
}

#presentation-image.stopped::before{
    /* background-color: black; */
    /* background-color: #0d1d32; */
    border-radius: 50%;
    border: solid;
    content: '▐ ▌';
    font-size: 2rem;
    line-height: 2.4;
    margin: auto;
    width: 5rem;
    height: 5rem;
}

#presentation-text.initial{
    background-color: white;
}

#presentation-text.initial > div{
    color:black;
}

#services-container{
}

#top-main-text::after {
  content: ' ';
  background-image: url(../images/amsterdam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
  /* opacity: 0.75; */
  /* opacity: 0.5; */
  /* opacity: 0.35; */
  opacity: 0.8;
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.transparent{
    opacity:0;
    transition: all 1.5s ease;
}
.non-transparent{
    opacity:1;
    transition: all 1.5s ease;
}
#presentation-text.non-transparent{
    background-color: rgba(0,0,0,0.75);
    background-color: rgba(13, 29, 50, 0.9);
}

/* TEMP */

#presentation-side-top,
#presentation-side-bottom{
  display: none;
}


@media screen and (min-width: 1201px){
  width: 90%; 
}





