@media screen and (min-width: 1281px){
    background-color: rgba(13, 29, 50, 0.7);
    border-bottom: none;
    border-top: none;
    margin: 3rem 0;
}
/*  */
#presentation {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

#services-container{
}

#top-main-text::after {
  content: ' ';
  background-image: url(../images/amsterdam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
  /* opacity: 0.75; */
  /* opacity: 0.5; */
  /* opacity: 0.35; */
  opacity: 0.8;
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.transparent{
    opacity:0;
    transition: all 1.5s ease;
}
.non-transparent{
    opacity:1;
    transition: all 1.5s ease;
}

/* TEMP */

#presentation-side-top,
#presentation-side-bottom{
  display: none;
}


@media screen and (min-width: 1201px){
  width: 90%; 
}





