@media screen and (max-width: 1350px) and (min-width: 1201px)
{
    #presentation {
        margin-top: 4.5rem !important;
    }
    #presentation-stages {
        padding-left: 40%;
        /* padding-right: 2rem; */
    }

    #presentation-text.non-transparent {
        background-color: rgb(224, 232, 243, 0.9) !important;
    }
    #presentation-text>div {
        color: #0d1d32 !important;
    }
    #top-main-text {
        /* padding-bottom: 2rem; */
        /* padding-top: 2rem; */
    }
    #top-main-text .container-wrapper>section:nth-child(2) {
        padding-right: 2rem;
    }
    #ul-services {
        margin-top: 4.5rem;
    }
    #ul-services li {
        /* background-position: center 1rem !important; */
        min-height: auto !important;
        height: 4.54rem;
        position: relative;
        width: 100% !important;
    }
    #ul-services li a {
        /* bottom: 0; */
        font-size: 0.5rem !important;
        /* left: 0; */
        /* position: absolute; */
        /* text-align: center; */
        /* padding-left: 0.35rem; */
        padding-right: 0.35rem;
        /* right: 0; */
        /* top: 60%; */
    }
}