@media screen and (max-width: 1280px) {
    #main-slogan {
        border-bottom: #513794 2px solid;
        border-top: #513794 2px solid;
        max-width: 360px;
    }
    #menu-hamburger i {
        color: white;
        font-size: 2rem;
    }

    #row-prices>div {
        background-color: #cfdcee;
        background-color: rgb(224, 232,243);
    }
    #row-prices>div .price-item {
        /* margin: auto -15px; */
    }
    #row-prices>div .price-item-wrap {
        align-self: start;
        height: 100%;
    }
    #search-block>span {
        margin-right: -4px;
        order: 2;
    }
    #search-block>span img {
        height: 20px;
        width: 30px;
        border: solid 1px rgba(255, 255, 255, 0.5);
    }
    #search-block>form {
        margin-left: 0;
        order: 1;
        width: 80%;
    }
    #search-block>form input {
        display: inline-block;
        opacity: 1;
        min-width: auto;
        position: static;
        width: calc(100% - 20px);
    }
    #search-block>form button {
        float: right;
        vertical-align: unset;
        margin-right: -8px;
        margin-top: 11px;
    }
    #search-block a {
        margin-top: 5px;
    }

    #presentation-stages{
        padding-top: 2rem !important;
    }
    #presentation-side-bottom-left{
        /* order: 2; */
    }
}