@media screen and (max-width: 1200px) {
    /* #presentation-side-top-left{
        order: 2;
    }
    #presentation-side-top{
        flex-direction: column;
        padding-right: 2rem;
    }  
    #presentation-side-top-right{
        height: 67vw;
    } */
}