@media screen and (min-width: 1281px){
    #main-slogan {
        margin: auto 50% 1rem auto;
        /* width: 50%; */
    }
    #main-slogan {
        background-color: rgba(255, 255, 255, 0.85);
        background-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(13, 29, 50, 0.7);
        border-bottom: none;
        border-top: none;
        margin: 3rem 0;
    }

    #nav-main-menu li {
        /* color: #666; */
    }
    #navigation-contacts {
    }
    #navigation-contacts {
    }
    #navigation-contacts ul {
    }
    #navigation-top {
    }
    #presentation-stages {
        padding: 0 2rem;
    }
    #row-prices>div {
        width: 32%;
    }
    #row-review {
        overflow: hidden;
    }
    #top-main-text {
        /* padding-bottom: 3.5rem; */
        /* padding-top: 2.65rem; */
    }
}