#mySidenav {
    right: -100%;
    transition: all ease 0.5s;
    .start {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
    }
    .active {
        transition: all ease 0.5s;
        right: 0;
    }
    @media screen and (max-width: 1280px) {
        background: linear-gradient(to right, #513794 0%, #513794 0%, #5e3c95 34%, #673f95 66%, #704296 100%);
        display: inline-block;
        height: 100%;
        min-width: 320px;
        overflow-x: hidden;
        top: 0;
        position: fixed;
        padding: 25px;
        width: 50%;
        z-index: 1001;
    }
    @media screen and (min-width: 1281px) {
        width: 100%;
    }
}