#navigation-block {
    // background-color: $color-olive;
    background-color: $color-olive-dark;
    justify-content: space-between;
    height: auto;
    @media screen and (min-width: 1281px) {
        display: flex;
    }
}