#search-block {
    @media screen and (max-width: 1280px) {
        >span {
            margin-right: -4px;
            order: 2;
            img {
                height: 20px;
                width: 30px;
                border: solid 1px rgba(255, 255, 255, 0.5);
            }
        }
        >form {
            margin-left: 0;
            order: 1;
            width: 80%;
            input {
                display: inline-block;
                opacity: 1;
                min-width: auto;
                position: static;
                width: calc(100% - 20px);
            }
            button {
                float: right;
                vertical-align: unset;
                margin-right: -8px;
                margin-top: 11px;
            }
        }
        a {
            margin-top: 5px;
        }
        #nav-main-menu &{ // #nav-main-menu #search-block 
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            padding-top: 24px;
            border-top: solid 1px white;
        }
    }
}