@media screen and (min-width: 600px) {
    #section-header h4 {
        font-size: 1.1rem;
        margin: auto;
    }
    #section-services {
        padding-left: var(--offset-box);
        padding-right: var(--offset-box);
    }
}

@media screen and (min-width: 1024px) {
    #presentation-container-section {
        width: 90%;
    }
    #section-presentation,
    #section-stages {
        width: 60%;
    }
    #section-stages {
        order: 6;
    }
    #section-services,
    #section-buttons {
        width: 40%;
    }
    #section-services {
        order: 3;
        padding-left: 1px;
        padding-right: 1px;
    }
    #section-buttons {
        order: 5;
        background-color: rgba(13, 29, 50, 0.85);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #section-buttons .order-link {
        line-height: 2;
    }
    #section-presentation {
        order: 4;
        /* parent block: 90%, block: 67%, ratio: 0.667 */
        height: 40.22vw;
    }
    #section-services>div {
        width: calc(50% - 0.5px);
        background-position: center 25%;
        background-size: 25%;
        /* padding-left: 1rem; */
        /* padding-right: 1rem; */
    }
    #section-services>div>a {
        margin-top: 6rem;
        margin-bottom: auto;
    }
    #section-services>div:nth-child(4),
    #section-services>div:nth-child(5) {
        margin-bottom: 0;
    }
    #presentation-container-section {
        /* padding-bottom: 2rem; */
        /* padding-top: 2rem; */
    }
}

@media screen and (min-width: 1280px) {
    #presentation-container-section {
        padding-bottom: 3.5rem;
        width: 70%;
    }
    #section-presentation {
        height: 28vw;
    }
    #section-services>div>a {
        padding: 0;
        margin: auto;
        margin-top: 43%;
        max-width: 90%;
        text-align: center;
    }
    #section-languages {
        display: none;
    }
    #section-languages-desktop>div {
        background-position-x: center;
        background-position-y: 30%;
        padding: 0;
        display: flex;
        width: 25%;
    }
    #section-languages-desktop>div>span {
        margin: 60% auto;
    }
    #section-header {
        background: linear-gradient(to top, rgba(255, 255, 255, 1), transparent);
        padding-top: 2rem;
    }
    #section-header h4 {
        color: rgba(13, 29, 50, 0.85);
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    }
}

@media screen and (min-width: 1680px) {
    font-size: 1.25rem;
}

@media screen and (min-width: 1920px) {
    #section-services>div>a {
        margin-top: 48%;
    }
    #section-header h4{
        font-size: 1.4rem;
    }
}

/* resolution mobile/tablet -- up to 1023 */
/* resolution desctop -- from 1024 */
#section-presentation::before{
    color: yellow;
    position: absolute;
    top:0;
}
@media (min-width: 414px){
    #section-presentation::before{
        content: "414";
        font-size: 1rem;
    }
}
@media (min-width: 600px){
    #section-presentation::before{
        content: "600";
    }
}
@media (min-width: 768px){
    #section-presentation::before{
        content: "768";
    }
}
@media (min-width: 800px){
    #section-presentation::before{
        content: "800";
    }
}
@media (min-width: 1024px){
    #section-presentation::before{
        content: "1024";
        font-size: 2rem;
    }
}
@media (min-width: 1200px){
    #section-presentation::before{
        content: "1200";
    }
}
@media (min-width: 1280px){
    #section-presentation::before{
        content: "1280";
    }
}
@media (min-width: 1366px){
    #section-presentation::before{
        content: "1366";
    }
}
@media (min-width: 1440px){
    #section-presentation::before{
        content: "1440";
    }
}
@media (min-width: 1600px){
    #section-presentation::before{
        content: "1600";
    }
}
@media (min-width: 1680px){
    #section-presentation::before{
        content: "1680";
    }
}
@media (min-width: 1920px){
    #section-presentation::before{
        content: "1920";
    }
}
@media (min-width: 2304px){
    #section-presentation::before{
        content: "2304";
    }
}
@media (min-width: 2560px){
    #section-presentation::before{
        content: "2560";
    }
}
@media (min-width: 2880px){
    #section-presentation::before{
        content: "2880";
    }
}
@media (min-width: 3000px){
    #section-presentation::before{
        content: "3000";
    }
}
@media (min-width: 3840px){
    #section-presentation::before{
        content: "3840";
    }
}
@media (min-width: 4096px){
    #section-presentation::before{
        content: "4096";
    }
}
@media (min-width: 5120px){
    #section-presentation::before{
        content: "5120";
    }
}