#presentation-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1350px;
    width: 100%;
}

/* section-languages */
#section-languages{
    background-color: rgba(13, 29, 50, 0.85);
    display: flex;
    justify-content: center;
    width: 22%;
    width: 100%;
}

#section-languages span{
    background-size: 1rem 1.25rem;
    color: var(--main-blue-dark);
    color: rgba(255,255,255,0.75);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center 0.833rem;
    width: 25%;
    text-align: center;
    padding: 2.2rem 0 var(--offset-box);
}

#section-languages span:hover{
    background-color: rgba(255,255,255, 1);
    color: var(--main-blue-dark);
}

#section-languages span:nth-child(1){
    background-image: url(../../../images/flags/nl-1.png);
}
#section-languages span:nth-child(2){
    background-image: url(../../../images/flags/uk.png);
}
#section-languages span:nth-child(3){
    background-image: url(../../../images/flags/ru.png);
}
#section-languages span:nth-child(4){
    background-image: url(../../../images/flags/ukr.png);
}

/* section-stages */
#section-stages{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
}
#section-stages > div{
    opacity: 0.33;
    border: solid 12px transparent;
    border-left: white 15px solid;
    border-right: none;
    width: 0;
    height: 0;
    background: transparent;
}

#section-stages > div.active{
    background: rgb(255,255,255);
    display: inline-block;
    height: 1rem;
    opacity: 0.5;
    transition: all ease 0.5s;
    width: 10px;
}

#section-stages>div.active {
    opacity: 1;
}

/* section-presentation */
#section-presentation {
    background-image: url(../../../images/professionals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 50vh;
    height: 44.5vh;
    padding: 20px;
    width: 100%;
}

#section-presentation::before {
    content: "0.667 : 408 x 612";
}

#section-header::after {
    position: absolute;
    right: 20px;
    bottom: 30%;
}

#section-header {
    background-color: rgba(13, 29, 50, 0.65);
    position: relative;
    width: 78%;
    width: 100%;
}

#section-header h4 {
    color: #ffffff;
    font-size: 0.88rem;
    line-height: 1.5;
}

#section-header h4 span{
    display: none;
}

#section-services {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#section-services > div {
    background-position: center 0.5rem;
    display: flex;
    margin: 1px;
    width: calc(50% - 1.5px) !important;
    background-color: rgb(224, 232, 243);
    background-repeat: no-repeat;
    text-align: center;
}
#section-services > div:nth-child(even){

margin-left: 0.5px;
}
#section-services > div:nth-child(odd){
    
margin-right: 0.5px;
}
#section-services > div a {
    color: #0d1d32;
    font-size: 0.75rem;
    line-height: 1.1;
    margin-bottom: 0.8rem;
    margin-top: 64px;
    padding: 0 0.2rem;
    width: 100%;
}
#section-services > div:nth-child(1) {
    background-image: url(../../../images/icon-museum-1.png);
}
#section-services > div:nth-child(2) {
    background-image: url(../../../images/icons-service-provider-1.png);
}
#section-services > div:nth-child(3) {
    background-image: url(../../../images/icon-business-1.png);
}
#section-services > div:nth-child(4) {
    background-image: url(../../../images/icon-crowd-1.png);
}

/* section-buttons */
#section-buttons {
    background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#section-buttons .order-link{
    width: 46%;
    background-color: transparent;
}

/* section-stages */
#section-stages {
    background-color: rgba(13, 29, 50, 0.85);
}