#ascrail2001 {
    background-color: #eee;
    width: 17px !important;
    > div {
        background-color: #673f95 !important;
        border: none !important;
        border-radius: 0 !important;
        width: 17px !important;
    }
}