#bottom-menu-small-left,
#bottom-menu-small-right{
    display: none;
}

footer .footer-socials{
    margin: var(--offset-mobile-top) auto;
}

footer .socials-block__list li{
    outline: solid 4px rgba(13, 29, 50, 0.15);
    height: 3rem;
    margin: auto 14px;
    padding: 1rem;
    width: 3rem;
}

footer .socials-block__list li:nth-child(1){
    background-color: rgba(66, 103, 178, 0.35);
}
footer .socials-block__list li:nth-child(2){
    background-color: rgba(0, 119, 181, 0.35);
}
   