@media screen and (max-width: 599px){
    #footer-inner-contacts{
        margin: auto;
    }
}
@media screen and (min-width: 600px){
    #footer-buttons-social{
        min-width: 50%;
    }
}

@media screen and (max-width: 767px) {
    #bottom-menu-small-left,
    #bottom-menu-small-right {
        display: none;
    }
    footer .main-container {
        position: relative;
        z-index: 1;
        text-align: center;
    }
}

@media screen and (min-width: 768px){
    #footer-inner-contacts {
        max-width: 33%;
        /* width: auto; */
    }
}
