.absolute{
    position: absolute;
}
.btn-link{
    bottom: 20px;
    color: darkslateblue;
    font-size: 16px;
    margin: -4px -8px;
    padding: 4px 8px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.btn-link:hover{
    background-color: rgba(120, 167, 65, 0.8);
    border-radius: 4px;
    color: white;
}

.header-contacts-info .contacs-list{
    display: flex;
    justify-content: space-around;
}

.item-substrate-wrap{
    border-color: #666;
}

.main-slogan{
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    font-size: 1.7rem;
    margin: 34px auto 36px;
    padding: 30px 30px 38px;    
    text-align: left;
    max-width: 600px;
    width: 50%;
}

.main-navigation{
    padding-top:0;   
}

.main-navigation{
    padding-top:0;   
}

.navigation-block{
    background: rgba(255,255,255,.95);
}

@media screen and (max-width: 1400px){ 
    .navigation-block {
        padding: 10px 15px;
    }   
}

.panel-lang,
.panel-lang .widget-block{
    overflow: hidden;
    display: flex;
}
.search-block{
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
.top-main-text{   
    text-align: center;    
    padding: 0;
    position: relative;
}

.top-container .header-contacts-info{
    width: 85%;
}
.top-container .choosing-lang{
    display: flex;
    align-items: center;
    width: 10%;
}

.our-services,
.prices-section,
.reviews-section{
    background: rgba(255,255,255,0.95);
}

.our-services{   
    border-bottom: solid 2px #8d78af;
}

@media screen and (max-width: 1400px){
    .our-services {
        padding-bottom: 50px;
    }
}

.price-item{
    background-color: rgba(193, 220, 255, 0.5);
}
.price-item__image{
    margin: auto -7px;       
    width: auto;
}
.price-item-wrap{
    display: flex;
}
.price-item-description{
    margin-bottom: 50px;
}

.top-main{
    margin-bottom: 10px;
}