#ascrail2001>div {
    background-color: #673f95 !important;
    border: none !important;
    border-radius: 0 !important;
    width: 17px !important;
}

#li-services-providers a{
    text-decoration: none;
}

#li-services-providers span{
    background-color: #78a741;
    border-radius:50%;
    color: white;
    display: inline-block;
    font-size: 0.7rem;
    height: 22px;
    margin-left: 4px;
    text-align: center;
    text-shadow: none;
    width: 22px;
}

#logo-link span,
#logo-link-bottom span {
    color: #513794;
    font-weight: normal;
    left: 10px;
}

#logo-link-bottom span{
  color: rgb(190, 190, 255);
  z-index: 1 !important;
}

#logo-link span:nth-child(1),
#logo-link-bottom span:nth-child(1){
    height: 29px;
    top: 5.5px;
    width: 29px;
    transform: rotate(21deg);
}

#logo-link span:nth-child(1){
    background-color: #513794;
}

#logo-link-bottom span:nth-child(1){
    background-color: rgb(176, 176, 255);
}

#logo-link span:nth-child(2),
#logo-link-bottom span:nth-child(2) {
    background-color: rgba(255, 255, 255, 1);
    height: 22px;
    left: 14px;
    top: 9.5px;
    width: 22px;
    z-index: 1;
    transform: rotate(42deg);
}

#logo-link span:nth-child(3) {
    height: 16.5px;
    left: 18px;
    top: 14px;
    width: 16.5px;
    z-index: 2;
    transform: rotate(63deg);
}

#logo-link span:nth-child(4) {
    height: 12px;
    left: 21px;
    top: 17px;
    width: 12px;
    z-index: 2;
    transform: rotate(85deg);
}
#logo-link span:nth-child(6) {
    color: #bbb;
    font-size: 0.95rem;
    margin-left: 2px;
}

#navigation-contacts ul{
    margin: auto;
}

#navigation-contacts li{
    display: inline-block;
}

#navigation-contacts .contact-list li{
    padding-right:0;
}

#note-providers >div{
    background-color: white;
    border: solid 1px rgba(120, 167, 65, 0.55);
    font-size: 0.8rem;
    padding: 5px 10px;
    color: #78a741;
}

#row-prices >div{
    width: 32%;
}

body > header{
    background: rgba(0,0,50,0.65);

}

nav .main-navigation-menu li:last-child{
    padding-right: 0;
}

.contact-list li i {
    font-size: 22px;
    color: #78a741;
    color: #666;
    margin: auto 10px;
    /* padding-right: 16px; */
}

header > .top-container{
    display:flex;
    justify-content: space-between;
}

nav .main-navigation-menu li a{
    color: #513794;
    color: #666;
    font-size: 16px !important;
    font-weight: normal;
}

nav.main-menu{
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
}

.header-contacts-info .contacs-list a,
.header-contacts-info .contacs-list .address span{
    display: inline-block;
    transform: translateY(-4px) !important;
    -webkit-transform: translateY(-4px) !important;
    text-shadow: 1px 1px rgba(0,0,0,0.32);
}

.contacs-list li a,
.contacs-list .address{
    font-size:initial;
}

.main-slogan ul{
    width: 80%;
    margin: 18px auto;
}

.main-slogan ul li:before{
    content: "✔";
    color: green;
    font-weight: bold;
    margin-right: 8px;
}

.service-item-description a{
    text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}

.main-slogan h4,
.main-slogan p,
.main-slogan li{
    font-size: 21px;
    /* color: #513794; */
    color: inherit;
    line-height: 1.35;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

.main-slogan h4,
.main-slogan p {
    margin: auto;
}

.main-slogan h4{
    /* color: #000; */
    font-size: 25px;
    line-height: 1.2;
    margin-top: 6px;
    width: 96%;
}

.main-slogan li{
    text-align:left;
    color: inherit;
}

.main-container.main-slogan [class|="lang"]{
    font-size: 20px;
    /* font-weight: bold; */
}

.main-container.main-slogan .lang-dutch{
    color: #6665fe;
}

.main-container.main-slogan .lang-russian{
    color: #f964e5;
}

.main-container.main-slogan .lang-english{
    color: #fb5a5a;
}

.main-container.main-slogan .lang-ukrainian{
    color: #ff9b22;
}

.price-item a {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-family: 'PF DinText Pro';
    font-weight: 300;
    color: #2795c5;
}

.price-item a.know-more {
    bottom: 30px;
    margin-left: 22px;
    position: absolute;
}

.price-item-description .excerpt +a {
    bottom: 20px;
    position: absolute;
}

.top-container .header-contacts-info .contacs-list li{
    padding:unset;
}
