.absolute{
    position: absolute;
}
.blue-link{
    color: #2795c5;
}
.btn-link{
    bottom: 20px;
    color: darkslateblue;
    font-size: 16px;
    margin: -4px -8px;
    padding: 4px 8px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.btn-link:hover{
    background-color: rgba(120, 167, 65, 0.8);
    border-radius: 4px;
    color: white;
}

.close-button{
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
}

/*.close-button:before{
    content: '+';
    color: white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}*/

.header-contacts-info .contacs-list{
    display: flex;
    justify-content: space-around;
}

.hint{
    text-decoration: none;
    border-bottom: dotted 1px;
}

.item-substrate-wrap{
    border-color: #666;
    border-color: #8e8d8d;
    border-radius: 0;
    /* border-width: 1px; */
    /* box-shadow: 0 0 0 8px #dedede; */
    /* transform: rotate(12deg); */
}

.main-navigation{
    padding-top:0;   
}

.main-navigation{
    display: flex;
    /* float: none; */
    padding-top:0;
}

.navigation-block{
    background: rgba(255,255,255,.95);
    height: 66px;
    padding: 0;
}

@media screen and (max-width: 1200px){ 
    .navigation-block {
        padding: 10px 15px;
    }   
}

.panel-lang,
.panel-lang .widget-block{
    overflow: hidden;
    display: flex;
}
.search-block{
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
}
.top-main-text{
    /* text-align: center; */
    padding: 0;
    /* position: relative; */
}

.top-container .header-contacts-info{
    width: 85%;
}
.top-container .choosing-lang{
    display: flex;
    align-items: center;
    width: 10%;
}

.our-services,
.prices-section,
.reviews-section{
    background: rgba(255,255,255,0.95);
}

.our-services{
    border-bottom: solid 2px #8d78af;
}

@media screen and (max-width: 1200px){
    .our-services {
        padding-bottom: 50px;
    }
    .dark-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        /* background: rgba(0, 0, 0, .6); */
        z-index: 12;
    }
}

.price-item{
    background-color: rgba(193, 220, 255, 0.5);
}
.price-item__image{
    margin: auto -7px;       
    width: auto;
}

.price-item-wrap{
    display: flex;
}

@media screen and (max-width: 1024px){
    #row-prices div .price-item{
        margin: auto -15px;
    }
    #row-prices .price-item-wrap{
        align-self: start;
        height: 100%;
    }
    .prices-section {
        padding-bottom: 0;
    }
}

.price-item-description{
    margin-bottom: 50px;
}

.top-main{
    /* margin-bottom: 10px; */
}