body{
    background-color: #c7cacd;
}

body *{
    box-sizing: border-box;
}

/*header{}*/

#ascrail2001 {
    background-color: #eee;
    width: 17px !important;
}

#lang_sel_list{
    height: 13px;
}

#logo-header{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    width: 25%;
}

#logo-link, #logo-link-bottom {
    display: inline-block;
    font-size: 30px;
    padding-left: 48px;
    position: relative;
    text-decoration: none;
}

#logo-link{
    color: #e40505;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
}

#logo-link-bottom{
    color:white;
    color: #ff6b85;
    font-size: 1.1rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

#main-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#main-container-navigation-block-inner{
    display: flex;
    justify-content: stretch;
    width: 100%;
}

#mySidenav{
    /* margin-right: auto; */
    width: 100%;
}

#navigation-block{
    display:flex;
    justify-content: space-between;
}

#navigation-contacts{
    display: flex;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    width: 20%;
}

#navigation-top{
    display: flex;
    margin: auto;
    width: 55%;
}

#note-providers{
    margin: 6px 15px;
    display: none;
}

#row-prices {
    display: flex;
    justify-content: space-between;
}

#searchform{
    display: inline-block;
    margin-left: 15px;
}

#select-lang{
    float: right;
}

#top-main{
    background: url(../images/theme-businessman.png);
    background-size: 100%;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: 50%;
    /* background-attachment: fixed; */
    overflow:hidden;
}