body {
    background-color: #c7cacd;
}

body * {
    box-sizing: border-box;
}

/*header{}*/

#ascrail2001 {
    background-color: #eee;
    width: 17px !important;
}

#closebtn {
    height: 20px;
    width: 20px;
    z-index: 11;
}

#lang_sel_list {
    height: 13px;
}

#logo-header {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    width: 25%;
}

#logo-link,
#logo-link-bottom {
    display: inline-block;
    font-size: 30px;
    padding-left: 48px;
    position: relative;
    text-decoration: none;
}

#logo-link-bottom {
    color: white;
    color: #ff6b85;
    font-size: 1.1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#main-container-navigation-block-inner {
    display: flex;
    justify-content: stretch;
    width: 100%;
}

#main-slogan {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0.4) 100%);
    box-shadow: 10px 10px 46px 10px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 30px 30px 16px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    #main-slogan {
        border-bottom: #513794 2px solid;
        border-top: #513794 2px solid;
    }
}

@media screen and (min-width: 1025px) {
    #main-slogan {
        width: 40%;
    }
}

@media screen and (min-width: 1281px) {
    #main-slogan {
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: none;
        border-top: none;
        max-width: 600px;
        margin: 40px 50% 40px auto;
        width: 50%;
    }
}

#menu-hamburger {
    padding-top: 0;
}

@media screen and (max-width: 1200px) {
    #menu-hamburger {
        display: inline-block;
        float: right;
    }
    #menu-hamburger i {
        color: rgb(81, 55, 148);
        font-size: 2rem;
    }
    #navigation-block {
        /* z-index: 12; */
    }
}

@media screen and (min-width: 1201px) {
    #navigation-block {
        display: flex;
    }
}

#mySidenav {
    right: -100%;
    transition: all ease 0.5s;
}

#mySidenav.start {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

#mySidenav.active {
    transition: all ease 0.5s;
    right: 0;
}

@media screen and (max-width: 1200px) {
    #mySidenav {
        background: linear-gradient(to right, rgba(81, 55, 148, 1) 0%, rgba(81, 55, 148, 1) 0%, rgba(94, 60, 149, 1) 34%, rgba(103, 63, 149, 1) 66%, rgba(112, 66, 150, 1) 100%);
        display: inline-block;
        height: 100%;
        min-width: 320px;
        overflow-x: hidden;
        top: 0;
        position: fixed;
        padding: 25px;
        width: 50%;
        z-index: 1001;
    }
}

@media screen and (min-width: 1201px) {
    #mySidenav {
        /*display: block;*/
        width: 100%;
    }
}

#nav-main-menu {
    z-index: 10;
}

#navigation-block {
    /* display:flex; */
    justify-content: space-between;
}

#navigation-contacts {
    position: absolute;
    right: 43px;
    top: 145px;
    white-space: nowrap;
    z-index: 20;
}
@media screen and (max-width: 580px){
    #navigation-contacts {
        right: 0;        
    }
}
@media screen and (max-width: 768px){
    .logo-container{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    #navigation-contacts {
        box-shadow: 0 0 28px #ddd;
        background-color: white;
        padding: 10px 0;
    }
    #row-prices {
        background-color: #cfdcee;
    }
}
@media screen and (min-width: 769px){
    .logo-container-mobile {
        display: none;
    }
}
@media screen and (min-width: 1025px) {
    #navigation-contacts {
        display: flex;
        position: static;
        width: 80%;
    }
}

@media screen and (min-width: 1201px) {
    #navigation-contacts {
        margin: auto;
        text-align: center;
        width: 20%;
    }
}

#navigation-top {
    margin: auto;
    width: 55%;
}

@media screen and (min-width: 1201px) {
    #navigation-top {
        display: flex;
    }
}

#row-footer {
    overflow: hidden;
}

#row-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#row-review {
    overflow: hidden;
}

#searchform {
    display: inline-block;
    margin-left: 15px;
}

#select-lang {
    float: right;
}

#top-main {
    background: url(../images/theme-businessman-big.jpg);
    background-size: cover;
    /* background-size: auto 100%; */
    background-repeat: no-repeat;
    background-position: 60% center;
    /*  */
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    #top-main {
        background-position: center;
    }
}