#main-slogan {
    background: linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.4) 100%);
    box-shadow: 10px 10px 46px 10px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 30px 30px 16px;
    position: relative;
    h4,
    li,
    p {
        font-size: 20px;
        color: inherit;
        text-align: center;
        text-shadow: 1px 1px 1px white;
    }
    h4,
    p {
        margin: auto;
    }
    h4 {
        line-height: 1.2;
        width: 96%;
    }
    ul {
        width: 80%;
        margin: 18px auto;
        li:nth-child(1) {
            background-image: url(../images/icon-museum-1.png);
        }
        li:nth-child(2) {
            background-image: url(../images/icons-service-provider-1.png);
        }
        li:nth-child(3) {
            background-image: url(../images/icon-business-1.png);
        }
        li:nth-child(4) {
            background-image: url(../images/icon-crowd-1.png);
        }
    }
    li {
        background-repeat: no-repeat;
        color: inherit;
        min-height: 50px;
        line-height: 47px;
        text-align: left;
        padding-left: 63px;
        a:hover {
            text-decoration: none;
        }
        span {
            color: inherit;
        }
    }
    @media screen and (min-width: 1025px) {
        width: 40%;
    }
    @media screen and (min-width: 1281px) {
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: none;
        border-top: none;
        max-width: 600px;
        margin: 40px 50% 40px auto;
        width: 50%;
        h4,
        li,
        p {
            font-size: 25px;
            line-height: 1.2;
        }
    }
    @media screen and (max-width: 1024px) {
        border-bottom: #513794 2px solid;
        border-top: #513794 2px solid;
        max-width: 360px;
    }
    [class|=lang] {
        font-size: 20px;
    }
    .lang-dutch {
        color: #6665fe;
    }
    .lang-russian {
        color: #f964e5;
    }
    .lang-english {
        color: #fb5a5a;
    }
    .lang-ukrainian {
        color: #ff9b22;
    }
}