#row-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
        @media screen and (max-width: 1024px) {
            background-color: #cfdcee;
            .price-item {
                margin: auto -15px;
            }
            .price-item-wrap {
                align-self: start;
                height: 100%;
            }
        }
        @media screen and (min-width: 1025px) {
            width: 32%;
        }
    }
}