#top-main-text{
    padding: 0;
    position: relative;
    &::after {
      background: transparent;
      box-shadow: 20px 0 40px rgba(0, 0, 0, 0.35) inset;
      content: ' ';
      position: absolute;
      bottom: -40px;
      top: -40px;
      width: 100%;
      z-index: -1;
    }
}
@import 'top-main-text/main-slogan';