#section-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    a {
        border-bottom: none;
        &.order-link {
            box-shadow: 1px 1px 4px rgba(103,107,1,0.5);
            min-width: 40%;
        }
        &:nth-child(1){
            background-color: $color-olive-dark;
        }
        &:nth-child(2) {
            &.order-link {
                &:not(:hover) {
                    background-color: #78a741;
                }
            }
        }
    }
}