#top-main-text{
    background-image: url(../images/doors-to-the-left.jpg);
    background-position: left bottom;
    background-size: cover;
    padding: 0;
    position: relative;
}
@import 'top-main-text/main-slogan';