#top-main-text{
    background-image: url(../images/doors-to-the-left-more.jpg);
    background-position: center bottom;
    background-size: cover;
    display: flex;
    padding: 0;
    // padding-top: 58px;
    position: relative;
}
@import 'top-main-text/main-slogan';