#top-main {
    background-color: $color-olive;
    margin-bottom: -0.8rem;
    /*@media screen and (min-width: 900px) {
        background-position: center;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.35) inset;
    }*/
}