#main-slogan ul{
    display: flex;
    flex-wrap: wrap;
}
#main-slogan ul li{
    background-position: 0.6rem;
    display: flex;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top:0;
    padding: 0.832rem 0.42rem;
    padding-left: 3rem;
    width: calc(50% - 2px) !important;
}
#main-slogan ul li:nth-child(5){
    border-bottom: none;
}
#main-slogan ul li + li{
    margin-top:0;
}
#main-slogan ul li a{
    color: #3f4200;
    font-size: 0.7rem;
    line-height: 1.423;
    margin: auto 0;
    text-transform: uppercase;
    text-shadow: 1.5px 1.25px 0 rgba(255, 255, 255, 0.65);
}
#main-slogan ul li:hover a{
    color:white;
    text-shadow: none;
}
#main-slogan ul li.flags{
    flex-wrap: wrap;
    width: 25% !important;
}
#main-slogan ul li.flags span{
    background-size: cover;
    border: 0;
    height: 19%;
    padding-bottom: 0;
    width: 51%;
}
@media screen and (min-width: 1281px){

    /* #main-slogan{
        margin: 1rem 50% 2rem auto;
        max-width: 38%;
        width: 40%;
    } */

    /* #main-slogan ul{
        margin: 2rem 20px 1.5rem;
    } */

    /* #top-main #main-slogan h4{
        font-size: 1.15rem;
    } */
}