@media screen and (min-width: 1281px){

    /* #main-slogan{
        margin: 1rem 50% 2rem auto;
        max-width: 38%;
        width: 40%;
    } */

    /* #main-slogan ul{
        margin: 2rem 20px 1.5rem;
    } */

    /* #main-slogan ul li a{
        font-size: 0.9rem;
        line-height: 3;
    } */

    /* #top-main #main-slogan h4{
        font-size: 1.15rem;
    } */
}