
#menu-aside {
    background: linear-gradient(to right, var(--main-blue-dark), rgba(0,0,0,0.75));
    display: inline-block;
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
    top: 0;
    position: fixed;
    padding: 25px;
    right: -100%;
    transition: all ease 0.5s;
    width: 100%;
    z-index: 19;
}

#menu-aside.active {
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;    
    right: 0;
}

#menu-aside .start {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

.main-navigation {
    margin-top: 1.5rem;
    display: flex;
    padding-top: 0;
}