#navigation-contacts {
    display: flex;
    position: fixed;
    left: 0;
    /* margin-left: 1rem; */
    top: 0;
    width: 100%;
    /* white-space: nowrap; */
    z-index: 20;
    background: var(--bg-blue-grey);
    /* outline: solid 1px red; */
}
#navigation-contacts:not(.display-block){
    display:none;    
}
#navigation-contacts ul {
    margin: 0.5rem auto auto 0.5rem;
}

#navigation-contacts ul li {
    display: inline-block;
}

#navigation-contacts ul li i {
    color: white;
    font-size: 0.92rem;
}

#navigation-contacts ul li:first-child i {
    font-size: 1.1rem;
}

#navigation-contacts .contact-list li {
  padding-right: 0; }
  @media screen and (max-width: 1280px) {
    #navigation-contacts .contact-list li {
      display: inline-block;
      margin-bottom: 20px;
      text-align: center;
      } }
