#search-box {
    position: absolute;
    right: 3rem;
    top: 0.5rem;
    z-index: 22;
}
#searchform{
    display: flex;
    overflow:hidden;
    height: 1.459rem;
    margin-top: auto;
    margin-bottom: auto;
}
#searchform button[type="submit"]{
    margin: auto;
}

#searchform input[type="text"]{
    border: none;
    padding-right: 1.25rem;
    padding: 0 1rem 0 0.4rem;
    width: 200px;
}
#searchform.passive input[type="text"]{
    border: none;
    padding-right: 1.25rem;
    opacity: 0;
    padding: 0;
    width: 0;
}

#search-box .close{
    color: #000;
    font-size: 1.2rem;
    font-weight: normal;
    opacity: 1;
    position: absolute;
    right: 1.4rem;
    top: 0.1rem;
    transform: rotate(45deg);
    z-index: 300;
}

#searchform.passive .close{

}
