.absolute{
    position: absolute;
}
.btn-link{
    bottom: 20px;
    color: darkslateblue;
    /* color: white; */
    /* font-weight: bold; */
    font-size: 16px;
    margin: -4px -8px;
    padding: 4px 8px;
    position: absolute;
    /* text-decoration: underline; */
    transform: translateX(-50%);
    left: 50%;
}

.btn-link:hover{
    background-color: rgba(120, 167, 65, 0.8);
    border-radius: 4px;
    color: white;
    /* text-decoration: none; */
    /* margin: -4px -8px; */
    /* padding: 4px 8px; */
}

/* remove to the components table */
.our-services,
.prices-section,
.reviews-section{
    background: rgba(255,255,255,0.95);
}
.our-services{   
    border-bottom: solid 2px #8d78af;
}
.price-item{
    background-color: rgba(193, 220, 255, 0.5);
    /* background-color: rgba(235, 242, 251,0.5);;position: relative;
    /* padding-bottom: 40px; */
    /* border: solid 7px white; */
}
.price-item__image{
    margin: auto -7px;
    width: auto;
}
.price-item-wrap{
    /* background-color: #ebf2fb; */
    /* outline: solid 1px red; */
    display: flex;
}
.price-item-description{
    margin-bottom: 50px;
}