body{
    background: url(../../sources/images/pexels-photo-705674.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background: rgba(81,55,148,0.6);
    background: linear-gradient(to top, rgba(81, 55, 148, 0.5), rgba(81, 55, 148, 1));
}

#ascrail2001 {
    background-color: #eee;
    width: 17px !important;
}

#lang_sel_list{
    height: 13px;
}

#logo-link, #logo-link-bottom {
    display: inline-block;
    font-size: 33px;
    padding-left: 48px;
    position: relative;
    text-decoration: none;
}

#logo-link{
    color: #e40505;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
}

#logo-link-bottom{
    color:white;
    color: #ff6b85;
    font-size: 1.1rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

#note-providers{
    margin: 6px 15px;
    display: none;
}

#row-prices {
    display: flex;
    justify-content: space-between;
}


