#logo-link{
    color: #e40505;
    color: #513794;
    display: inline-block;
    font-size: 33px;
    /* font-weight: bold; */
    padding-left: 52px;
    position: relative;
    text-decoration: none;
}
#logo-link span{
    color: #513794;
    color: #81a0c5;
    left: 10px;
    border-radius: 50%;
}
#logo-link span:nth-child(1){
    background-color: #513794;
    /* background-color: #8cacd3; */
    height: 40px;
    width: 40px;
}
#logo-link span:nth-child(2){
    background-color: white;
    height: 30px;
    left: 19px;
    /* opacity: 0.85; */
    top: 5px;
    width: 30px;
    z-index: 1;
}
#logo-link span:nth-child(3){
    background-color: #96bc69;
    background-color: #513794;
    background-color: #8cacd3;
    height: 22px;
    left: 26px;
    top: 9px;
    width: 22px;
    z-index: 2;
}