#ascrail2001 {
    background-color: #eee;
    width: 17px !important;
}

#ascrail2001>div {
    background-color: #673f95 !important;
    border: none !important;
    border-radius: 0 !important;
    width: 17px !important;
}

/* */
#li-services-providers a{
    text-decoration: none;
}
#li-services-providers span{
    background-color: #78a741;
    border-radius:50%;
    color: white;
    display: inline-block;
    font-size: 0.7rem;
    height: 22px;
    margin-left: 4px;
    text-align: center;
    text-shadow: none;
    width: 22px;
}

#logo-link, #logo-link-bottom {
    display: inline-block;
    font-size: 33px;
    padding-left: 48px;
    position: relative;
    text-decoration: none;
}

#logo-link{
    color: #e40505;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
}

#logo-link-bottom{
    color:white;
    color: #ff6b85;
    font-size: 1.1rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

#logo-link span,
#logo-link-bottom span {
    color: #513794;
    font-weight: normal;
    left: 10px;
}

#logo-link-bottom span{
  color: rgb(190, 190, 255);
  z-index: 1 !important;
}

#logo-link span:nth-child(1),
#logo-link-bottom span:nth-child(1){
    height: 29px;
    top: 5.5px;
    width: 29px;
    transform: rotate(21deg);
    z-index: -1;
}

#logo-link span:nth-child(1){
    background-color: #513794;
}

#logo-link-bottom span:nth-child(1){
    background-color: rgb(176, 176, 255);
}

#logo-link span:nth-child(2),
#logo-link-bottom span:nth-child(2) {
    background-color: rgba(255, 255, 255, 1);
    height: 22px;
    left: 14px;
    top: 9.5px;
    width: 22px;
    z-index: 1;
    transform: rotate(42deg);
}

#logo-link span:nth-child(3) {
    height: 16.5px;
    left: 18px;
    top: 14px;
    width: 16.5px;
    z-index: 2;
    transform: rotate(63deg);
}

#logo-link span:nth-child(4) {
    height: 12px;
    left: 21px;
    top: 17px;
    width: 12px;
    z-index: 2;
    transform: rotate(85deg);
}
#logo-link span:nth-child(6) {
    color: #bbb;
    font-size: 0.95rem;
    margin-left: 2px;
}

#note-providers{
    margin: 6px 15px;
    display: none;
}

#note-providers >div{
    background-color: white;
    border: solid 1px rgb(190, 179, 220);
    font-size: 0.8rem;
    padding: 5px 10px;
    color: #78a741;
}

#row-prices {
    display: flex;
}
.main-container.main-slogan [class|="lang"]{
    font-size: 20px;
    font-weight: bold;
}
.main-container.main-slogan .lang-dutch{
    color: #6665fe;
}

.main-container.main-slogan .lang-russian{
    color: #f964e5;
}

.main-container.main-slogan .lang-english{
    color: #fb5a5a;
}

.main-container.main-slogan .lang-ukrainian{
    color: #ff9b22;
}

.main-container.main-slogan ul li:nth-child(2)::after{
    
}

.price-item a {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-family: 'PF DinText Pro';
    font-weight: 300;
    color: #2795c5;
}

.price-item a.know-more {
    bottom: 30px;
    margin-left: 22px;
    position: absolute;
}

.price-item-description .excerpt +a {
    bottom: 20px;
    position: absolute;
}
