/*body{
    font-size: 14px;
    line-height: 1.42857143;
}*/
body > header{
    background: rgba(0,0,50,0.65);
    padding: 10px 4px;
}
header{
    background: rgba(81,55,148,0.6);
    /* background: linear-gradient(to bottom, rgba(81, 55, 148, .75), rgba(255,255,255,0.5)); */
}
header > .top-container{
    display:flex;
    justify-content: space-between;
}
.main-navigation{
 padding-top:0;   
}
nav .main-navigation-menu li a{
    
color: #513794;
    
/* color: white; */
    
/* color: #8cacd3; */
    
/* color: #78a741; */
    
font-size: 17px !important;
    
font-weight: normal;
    
/* text-shadow: 1px 1px 1px rgba(0,0,0,0.09), 0 1px 1px rgba(0,0,0,0.08); */
    
/* text-shadow: 1px 1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,.8); */
    
/* text-shadow: 1px 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5); */
}
nav.main-menu{
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
}
.main-slogan p{
    
font-size: 21px;
    
color: #513794;
    
line-height: 1.5;
    
margin-bottom: -20px;
    
/* color: #8cacd3; */
    
/* color: white; */
    
/* text-align: center; */
    
/* text-shadow: 1px 1px 8px rgba(0,0,0,1), 1px 1px 1px rgba(0,0,0,1); */
    
text-shadow: 1px 1px 1px rgba(255,255,255,1);
    
/* text-shadow: none; */
    
/* width: 80%; */
}
.navigation-block{
    /* background: rgba(0,0,0,.25); */
    background: rgba(255,255,255,.95);
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.52) 10%, rgba(0,0,30,0.3) 70%); */
}
.panel-lang,
.panel-lang .widget-block{
    overflow: hidden;
    display: flex;
}
.search-block{
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
.top-main-text{
    
background-color: rgba(255,255,255,0.5);
    
text-align: center;
    
padding: 100px  20px 40px;
    
position: relative;
}
.widget-block{
    
}
.top-container .header-contacts-info{
    width: 85%;
}
.top-container .choosing-lang{
    display: flex;
    align-items: center;
    width: 10%;
}
.top-container .header-contacts-info .contacs-list li{
    padding:unset;
}
.header-contacts-info .contacs-list{
    display: flex;
    justify-content: space-around;
}
.header-contacts-info .contacs-list a,
.header-contacts-info .contacs-list .address span{
    /* color: black; */
    display: inline-block;
    transform: translateY(-4px) !important;
    -webkit-transform: translateY(-4px) !important;
    text-shadow: 1px 1px rgba(0,0,0,0.32);
}
.contacs-list li a,
.contacs-list .address{
    font-size:initial;
}
.main-slogan{
    
/* background-color: rgba(255,255,255,0.25); */
    
/* background-color: rgba(0,0,0,0.25); */
    
border-radius: 10px;
    
font-size: 1.7rem;
    
margin: -20px auto;
    
padding: 20px;
    
transform: translateY(-56px);
    
width: 50%;
}
.our-services{
    background: transparent;
}
.service-item-description a{
    text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}

#lang_sel_list{
    /* margin: auto; */
    height: 13px;
}

#top-main{
    background: url(../../sources/images/pexels-photo-705674.jpeg);
    background-size: cover;
    background-position: center 0%;
}

@media screen and (max-width: 1400px){ 
    .navigation-block {
        padding: 15px;
    }   
}

@media screen and (max-width: 1400px){
    .our-services {
        padding-bottom: 50px;
    }
}